<form method="POST" action="/api/comment">

  <div>
    <label for="body">Body:</label>
    <textarea id="body" name="body" required></textarea>
  </div>

  <button type="submit">Submit</button>
</form>