<form method='POST' action='/api/post'>
  <div>
    <label for='title'>What's on your mind?</label>
    <input type='text' id='title' name='title' required />
  </div>

  <div>
    <label for='body'>Tell me more....</label>
    <textarea id='body' name='body' required></textarea>
  </div>

  <button type='submit'>Post</button>
</form>