{{#if logged_in }}


<section>
  <h1>Dashboard</h1>
  <h4>Welcome back: {{req.session.user_id}}</h4>
  <p>Here you can upload to the blog</p>

    

{{>post_form}}
{{#each (reverse posts) as |post|}}
  {{#with post.user_id as |user|}}
    {{> post_card 
      title=post.title
      id=post.id
      body=post.body
      date_created=post.date_created
      user=post.user_id
    }}
  {{/with}}
{{/each}}

</section>
 {{else}}

  <p> <a href="/home/login">Login </a> to upload to the blog or<a href="/home/signup"> Sign up</a></p>
  

{{/if}}