{{#if logged_in }}


<section>
  <h1>Dashboard</h1>
  <h4>Welcome back: {{user.name}}</h4>
  <p>Here you can upload to the blog</p>
    
{{>post_form}}

</section>
 {{else}}

  <a href="/home/login">Login to upload to the blog</a>
  <a href="/home/signup">or Sign up</a>

{{/if}}