{{#if logged_in }}
<section>
  <h1>Dashboard</h1>
  <h4>Welcome back: {{user_id}}</h4>
  <p>Here you can upload to the blog</p>
{{>post_form}}
{{#each (reverse posts) as |post|}}
  {{!-- {{#with (lookup user) as |user|}} --}}
      {{> post_card 
        title=post.title
        id=post.id
        body=post.body
        date_created=post.date_created
        user=user.name
        
      }}
      {{> comment_form
      post_id=post.id
      }}
      {{#each post.comments as |comment|}}

        {{> comment_card 
        body=comment.body 
        user=post.user.name
        }}
      {{/each}}

  {{!-- {{/with}} --}}
{{/each}}
</section>
 {{else}}

  <p> <a href="/home/login">Login </a> to upload to the blog or<a href="/home/signup"> Sign up</a></p>
  

{{/if}}