
<section>
  
  
{{#each (reverse posts) as |post|}}
  {{#with post.user_id as |user|}}
    {{> post_card 
      title=post.title
      id=post.id
      body=post.body
      date_created=post.date_created
      user=post.user_id
    }}
  {{/with}}
{{/each}}
  


</section>