<section>
{{#each (reverse posts) as |post|}}

    {{> post_card 
      title=post.title
      id=post.id
      body=post.body
      date_created=post.date_created
      user=user.name
    }}
{{/each}}
</section>